body{
    margin: 0;
    background-color:black;
    
}
h1,h2,h3,p{
    color: white;
    text-align: center;
    
}
header h1{
    color: white;
    text-align: center;
    margin-top: 0;
    
}
header p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.header{
    height: 107px;
    background: linear-gradient(to right, black, purple);
    width: 100%;
}

.Imagen_equipo{
    position:relative;
    width: 500px;
    object-fit: cover;
    display: block;
}
.equipo{
    margin-bottom: 80px;
}
.Presentacion{
    width: fit-content;
    margin: 150px;
    align-items:center;
    display:flex;
    flex-direction: column;
    font-size: 35px;
    
}
.Presentacion p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    max-width: 60%;
}

.footer{
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(to right, black, purple);
    width: 100%;

    
}
.Contacto{
    display: flex;
    align-items: center;
    height: 107px;
    

}
.imagenes_contacto{
    width: 30px;
    margin-inline: 40px;
    
    
}
.footer p{
    color: white;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

